.price,
.quan {
    position: relative;
}

.price::before,
.quan::before {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.price::before {
    content: "$";
}

.quan::before {
    content: "unit"
}

.quan>i p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    font-size: 16px;
    background-color: white;
    padding: 10px 12px;
    border-radius: 50px;
    box-shadow: 0px 0px 8px 0px #00000052;
    top: -50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.quan>i:hover p {
    opacity: 1;
    visibility: visible;
}